<?xml version='1.0' encoding='utf-8'?>
<widget id="$APP_PACKAGE" version="$APP_VERSION" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>$APP_NAME</name>
    <description>$APP_DESCRIPTION</description>
    <author email="developer@ynloultratech.com" href="https://github.com/ynloultratech">
        YnloUltratech Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="http://*" />
    <allow-navigation href="https://*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <engine name="android" spec="^6.3.0" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
    <icon src="icon.png"/>
</widget>
