<?xml version='1.0' encoding='utf-8'?>
<widget id="$APP_PACKAGE" version="$APP_VERSION" 
     xmlns="http://www.w3.org/ns/widgets" 
     xmlns:android="http://schemas.android.com/apk/res/android" 
     xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>$APP_NAME</name>
    <description>$APP_DESCRIPTION</description>
    <author email="app24kr@gmail.com" href="https://github.com/app24kr">
        App24kr Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="http://*" />
    <allow-navigation href="https://*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <engine name="android" spec="^8.1.0" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
    <icon src="icon.png"/>
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
        <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>
</widget>
